<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Vonattársaság</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Keresés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/hozzaadas">Hozzáadás</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/foglalas/user">Foglalásaim</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        Felhasználó: <%= felhasznalonev %>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/logout">Kijelentkezés</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="mb-3">
            <h1>Járat hozzáadás</h1>
        </div>
    </div>
    <div class="container" id="adatok">
        <form method="POST" action="/hozzaadas">
            <div class="mb-3">
                <label for="indulas" class="form-label">Indulás:</label>
                <input type="text" name="indulas" class="form-control" id="indulas" placeholder="Add meg honnan indul"
                    required>
            </div>

            <div class="mb-3">
                <label for="erkezes" class="form-label">Érkezés:</label>
                <input type="text" name="erkezes" class="form-control" id="erkezes" placeholder="Add meg hova erkezik"
                    required>
            </div>

            <div class="mb-3">
                <label for="nap" class="form-label">Nap:</label>
                <select class="form-select" id="nap" name="nap">
                    <option value="hetfo">Hétfő</option>
                    <option value="kedd">Kedd</option>
                    <option value="szerda">Szerda</option>
                    <option value="csutortok">Csütörtök</option>
                    <option value="pentek">Péntek</option>
                    <option value="szombat">Szombat</option>
                    <option value="vasarnap">Vasárnap</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="indulasIdo" class="form-label">Indulás időpontja:</label>
                <input type="time" name="indulasIdo" class="form-control" id="indulasIdo" required>
            </div>

            <div class="mb-3">
                <label for="erkezesIdo" class="form-label">Érkezés időpontja:</label>
                <input type="time" name="erkezesIdo" class="form-control" id="erkezesIdo" required>
            </div>

            <div class="mb-3">
                <label for="tipus" class="form-label">Vonat tipusa:</label>
                <select class="form-select" id="tipus" name="tipus">
                    <option value="gyorsvonat">Gyorsvonat</option>
                    <option value="szemelyvonat">Személy vonat</option>
                    <option value="Intercity">Intercity</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="ar" class="form-label">Ár:</label>
                <input type="number" name="ar" class="form-control" id="ar" placeholder="Add meg az árat" required>
            </div>

            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Hozzáadás">
            </div>
        </form>
    </div>
</body>

</html>